<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-image: linear-gradient(to right, lightblue, darkblue);
            padding-top: 15%;
        }
    </style>
    <title>Car Loan EMI Calculator</title>
</head>
<body>
    <h1>Car Loan EMI Calculator</h1>
    <form action="/calculateEMI" method="POST">
        <input type="hidden" name="loanType" value="car">
        <label for="salary">Monthly Salary:</label>
        <input type="number" name="salary" id="salary" required><br><br>

        <label for="loanAmount">Loan Amount:</label>
        <input type="number" name="loanAmount" id="loanAmount" required><br><br>

        <label for="duration">Loan Duration (in years):</label>
        <input type="number" name="duration" id="duration" required><br><br>

        <button type="submit">Calculate EMI</button>
    </form>
</body>
</html>
